:root {
  --color-primary: #6858fe;

  --bg-color: #ffffff;
  --bg-tabs: #e7eaf4;

  --text-color-df: #333;
  --text-color-reverse: #fff;

  --font-size-df: 14px;
  --font-size-sm: 13px;
}

body {
  margin: 0;
  min-width: 1024px;
  background: var(--bg-color);
  color: var(--text-color-df);
  font-size: var(--font-size-df);
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
