%flex {
  display: flex;

  &-top {
    @extend %flex;
    align-items: flex-start;
  }

  &-middle {
    @extend %flex;
    align-items: center;
  }

  &-center {
    @extend %flex-middle;
    justify-content: center;
  }
}
